<%-include ('partials/_header')%>


<div class="col-md-7">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>N</th>
            <th>Categoría</th>
            <th>Nivel</th>
            <th>Tipo de pregunta</th>
            <th>Pregunta</th>
            <th>Opción 1</th>
            <th>Opción 2</th>
            <th>Opción 3</th>
            <th>Opción 4</th>
            <th>Opción correcta</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <% if (data) { %>
                <% for (var i = 0; i < data.length; i++){ %>
                    <tr>
                        <td><%= (i+1) %></td>
                        <td> <% switch (data[i].cat_id) {
                            case 1 : %> Hardware <% break;
                            case 2 : %> Redes <% break;
                            case 3 : %> Software <% break;
                            } %>
                        </td>
                        <td> <% switch (data[i].lev_id) {
                            case 1 : %> Inicial <% break;
                            case 2 : %> Primaria <% break;
                            case 3 : %> Secundaria <% break;
                            case 4 : %> Universidad<% break;
                            } %>
                        </td>
                        <td> <% switch (data[i].ty_id) {
                            case 1 : %> Verdad o Falso<% break;
                            case 2 : %> 2 opciones <% break;
                            case 3 : %> 3 opciones <% break;
                            case 4 : %> 4 opciones <% break;

                            } %>
                        </td>
                        <td><%= data[i].que_que %></td>
                        <td><%= data[i].que_1 %></td>
                        <td><%= data[i].que_2 %></td>
                        <td><%= data[i].que_3 %></td>
                        <td><%= data[i].que_4 %></td>
                        <td>
                            <% switch (data[i].que_true) {
                            case 1 : %> <b>Opción 1</b></br> <%= data[i].que_1 %><% break;
                            case 2 : %> <b>Opción 2</b></br> <%= data[i].que_2 %><% break;
                            case 3 : %> <b>Opción 3</b></br> <%= data[i].que_3 %><% break;
                            case 4 : %> <b>Opción 4</b></br> <%= data[i].que_4 %><% break;
                            } %>
                        </td>
                        <td>
                            <a href="/edit/<%= data[i].que_id %>" class="btn btn-warning">Editar</a>
                            <a href="/delete/<%= data[i].que_id %>" class="btn btn-danger">Eliminar></a>
                        </td>

                    </tr>
                <% } %>
            <%  } %>
        </tbody>
    </table>

    <a class="btn btn-primary" href="/add" role="button">Agregar preguntas</a>
    <a class="btn btn-primary" href="/show" role="button">Actualizar tabla</a>
</div>

<%-include ('partials/_footer')%>
