<div class="container p-4">
    {{#if students}}
            <h1 style="text-align: center" class="animate__animated animate__backInUp">Todos los estudiantes</h1>
        <hr>
        <br>
        <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />

        <br>
        <div class="row">

            <table  id="tabla" class="table table-dark table-bordered border-primary text-center ">
                <thead>
                <tr>
                    <th scope="col">Sexo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">User</th>
                    <th scope="col">Código</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th SCOPE="col">Fecha de creación</th>
                    <th scope="col">Facultad</th>
                </tr>

                </thead>
                <tbody>
                {{#each students}}
                    <tr class="table-primary text-dark text-center ">
                        <td><img src="{{ifMenPicture user_is_male '../img/profile/' 'gen-men.png' 'gen-girl.png' 'gen-other.png'}}" alt="photo profile {{user_nick}}" width="50" height="50">
                        </td>
                        <td>{{user_fullname}}</td>
                        <td>{{user_nick}}</td>
                        <td>{{user_code}}</td>
                        <td>{{user_dni}}</td>
                        <td>{{text_minus user_email}}</td>
                        <td>{{user_phone}}</td>
                        <td>{{date_string  user_created}}</td>
                        <td>{{getFaculty user_faculty ../obj_faculty}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        <div class="col-md-7 mx-auto animate__animated animate__backInUp">
            <br><br><br><br><br>
            <div class="card ">
                <a href="#" class="btn btn-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                    Ir Arriba
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
            </div>
        </div>

    {{else}}
        <br>
        <h1 style="text-align: center">No existe ningun estudiante</h1>
    {{/if}}

    <script src="/js/filtrar.js"></script>
</div>