<div class="container p-10 mx-auto">
    {{#if teacher}}
        <br>
        <h1 class="animate__animated animate__backInUp" style="text-align: center">Todos los Docentes</h1>
        <div class="row mx-auto">
            {{#each teacher}}
                <div class="row p-4 mx-auto animate__animated animate__backInDown">
                    <div class="row p-3 text-center">
                        <img class="rounded-circle"
                             src="{{ifMenPicture is_male '../img/profile/' 'gen-men.png' 'gen-girl.png' 'gen-other.png'}}" alt="photo profile {{username}}" width="140" height="140">

                    </div>
                    <div class="p-2">
                        <div class="card p-1">
                            <div class="mx-auto">
                                <div class="d-flex position-relative">
                                    <div class="p-2">
                                        <div style="width: 18rem; ">
                                            <h4 class="mt-0">{{name}} {{lastname}}</h4>
                                            {{#if email}}
                                                <p>Correo: {{email}}</p>
                                            {{/if}}
                                            {{#if phone}}
                                                <p>Teléfono: {{phone}}</p>
                                            {{/if}}
                                            {{#if create_at}}
                                                <p>Fecha de creación: {{getOnlyDate create_at}}</p>
                                            {{else}}
                                                <p>Fecha de creación: No disponible</p>
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="col-md-7 mx-auto animate__animated animate__backInUp">
            <br><br><br><br><br>
            <div class="card ">
                <a href="#" class="btn btn-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                    Ir Arriba
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
            </div>
        </div>

    {{else}}
        <br>
        <h1 class="animate__heartBeat" style="text-align: center">No existe ningun docente</h1>
    {{/if}}

</div>
