<div class="container p-10">
    <br>
    <h1 STYLE="text-align: center">Resumen del Examen</h1>

    <br><br>
    <div class="row">

        <div class="card-body">
            <h2 style="text-align: center">{{exam.title}}</h2>

            <br>
            <div class="form-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-sticky-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z"/>
                </svg><h6>{{exam.commentary}}</h6>
            </div>
            <br>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Docente:</span>
                <input type="text" value="{{exam.user_id}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Categoría: </span>
                <input type="text" value="{{category exam.cat_id}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nivel: </span>
                <input type="text" value="{{level exam.lev_id}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Total de preguntas: </span>
                <input type="text" value="{{que_total}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Preguntas contestadas correctamente: </span>
                <input type="text" value="{{que_true_reply}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Preguntas contestadas erroneas: </span>
                <input type="text" value="{{que_false_reply}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Preguntas contestadas en blanco: </span>
                <input type="text" value="{{que_nothing_reply}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Hora de inicio:</span>
                <input type="text" value="{{date_string exam_user_.date_init}}" disabled class="form-control" placeholder="No se registro datos" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Hora de entrega:</span>
                <input type="text" value="{{date_string exam_user_.date_finish}}" disabled class="form-control" placeholder="No se registro datos"  aria-describedby="basic-addon1">
            </div>





            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nota Final: </span>
                <input type="text" value="{{note que_true_reply que_total}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{percentage que_total que_true_reply}}%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="{{que_total}}"></div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{percentage que_total que_nothing_reply}}%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="{{que_total}}"></div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{percentage que_total que_false_reply}}%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="{{que_total}}"></div>
            </div>
        </div>


    </div>


    <br>
    {{#each questions}}
        <div class="col-md-7 mx-auto">
            <div class="p-3"></div>
            <div class="card ">
                <div class="card-body">
                    <h4 style="text-align: center">{{{que_que}}} </h4>

                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{que_id}}" id="{{que_id}}" value="{{que_id}}" {{checkQuestionTrue 1 que_true}}>
                        <label class="form-check-label" for="exampleRadios1">
                            {{{que_1}}}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{que_id}}" id="{{que_id}}" value="{{que_id}}"{{checkQuestionTrue 2 que_true}}>
                        <label class="form-check-label" for="exampleRadios2">
                            {{{que_2}}}
                        </label>
                    </div>
                    {{#if que_3}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{que_id}}" id="{{que_id}}" value="{{que_id}}"{{checkQuestionTrue 3 que_true}}>
                            <label class="form-check-label" for="exampleRadios3">
                                {{{que_3}}}
                            </label>
                        </div>
                    {{/if}}
                    {{#if que_4}}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="{{que_id}}" id="{{que_id}}" value="{{que_id}}"{{checkQuestionTrue 4 que_true}}>
                            <label class="form-check-label" for="exampleRadios4">
                                {{{que_4}}}
                            </label>
                        </div>
                    {{/if}}

                    <br>
                    <br>
                    <!--div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Respuesta correcta:</span>
                        <input type="text" value="{{ isQuestionTrue que_true que_1 que_2 que_3 que_4}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div-->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Usted respondió: </span>
                        <input type="text" value="{{getReplyUser ../que_list_reply @index que_1 que_2 que_3 que_4}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="progress">
                        <div class="progress-bar {{isTrue_falseNothing ../que_list_reply @index  que_true}}" role="progressbar" style="width: 100%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="{{que_total}}"></div>
                    </div>

                </div>
            </div>
        </div>

    {{/each}}

    <div class="col-md-7 mx-auto animate__animated animate__backInUp">
        <br><br><br><br><br>
        <div class="card ">
            <a href="#" class="btn btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
                Ir Arriba
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </a>
        </div>
    </div>
</div>

    <div class="container">


        <br>
        <br>
        <br>
        <br>
        {{#if is_init}}
            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                Recuerda que una vez responda no podrá volver a la pregunta anterior</a>
        {{/if}}
    </div>
</div>
<script>
    function deshabilitaRetroceso(){
        console.log('Borro el cachéé')
        window.location.hash="no-back-button";
        window.location.hash="Again-No-back-button" //chrome
        window.onhashchange=function(){window.location.hash="no-back-button";}
    }
</script>