<div class="container p-4">
    {{#if user_exam}}
        {{#if all}}
            <h1 style="text-align: center" class="animate__animated animate__backInUp">Notas de mis estudiantes</h1>
        {{else}}
            <h1 style="text-align: center" class="animate__animated animate__backInUp" >Mis Notas<span class="badge bg-secondary"></span></h1>
        {{/if}}
        <br>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

            <div class="row">
                <div class="col-md-7">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>Nombre de examen</td>
                            <td>Comentario</td>
                            <td>respuestas correctas</td>
                            <td>respuestas incorrectas</td>
                            <td>preguntas en blanco</td>
                            <td>hora de inicio</td>
                            <td>hora de finalización</td>
                            <td>dfdf</td>
                        </tr>
                        </thead>
                        <tbody>
                    {{#each exam}}
                        {{#each ../user_exam}}
                            {{#if (istrue_ exam_id ../id)}}
                                <tr>
                                    <td>{{../title}}</td>
                                    <td>{{../commentary}}/td>
                                    <td>Nota: {{note que_true_reply ../cant_ques}}</td>
                                    <td>{{que_true_reply}}</td>
                                    <td>{{que_false_reply}} </td>
                                    <td>{{que_nothing_reply}} </td>
                                    <td>Creado {{ date_beautiful date_create}}</td>
                                    <td>Creado {{ date_beautiful date_create}}</td>
                                    <td>
                                        <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>


                             {{/if}}
                        {{/each}}
                    {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
    {{else}}
        <br>
        <h1>No se encontró ninguna nota<span class="badge bg-secondary"></span></h1>
        <br><br>
        <a href="/exam/all" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
            </svg>
            Desea tomar examen
        </a>
        <br><br><br><br><br><br><br>

    {{/if}}


</div>