<div class="container p-4">
    {{#if data}}
        {{#if all}}
            <h1 style="text-align: center">Todos los examenes<span class="badge bg-secondary"></span></h1>
        {{else}}
            <h1 style="text-align: center">Mis Ex치menes<span class="badge bg-secondary"></span></h1>
        {{/if}}
        <br>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <div class="portfolio">
            <div class="container">
                <div class="row">
                    {{#each data}}
                           <div class="col-sm-6 ">
                               <div class="card-header">
                                   <span class="badge bg-secondary">{{category cat_id}}</span>
                                   <span class="badge bg-secondary">{{level lev_id}}</span>
                                   <span class="badge bg-danger"></span>
                                   <span class="badge bg-secondary">{{cant_ques}} preguntas</span>

                               </div>
                               <div class="card">
                                   <div class="card-body">
                                       <h5 class="card-title">{{title}}</h5>
                                       <p class="card-text"><b>Nota:</b> {{commentary}}</p>
                                       <a href="#" class="btn btn-success">Tomar Ex치men</a>
                                       <a href="#" class="btn btn-warning">Editar Ex치men</a>
                                       <a href="#" class="btn btn-danger">Eliminar</a>
                                   </div>
                               </div>
                               <div class="p-3"></div>
                           </div>
                {{/each}}
                </div>

            </div>
        </div>

    {{else}}
        <h1>No se encontr칩 ninguna pregunta<span class="badge bg-secondary"></span></h1>
    {{/if}}


</div>