<br><br>
<div class="container p-10 animate__animated animate__shakeX">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <div class="card-header text-center">
                    <h3>Editando pregunta</h3>
                </div>
                <div class="card-body">
                    <form action="/question/update/{{question.que_id}}" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Categoría</label>
                            <select class="form-control" name="cat_id" id="exampleFormControlSelect1" >
                                <option value="1" {{{selected question.cat_id 1}}}>Hardware</option>
                                <option value="2" {{{selected question.cat_id 2}}}>Programación</option>
                                <option value="3" {{{selected question.cat_id 3}}}>Redes</option>
                                <option value="4" {{{selected question.cat_id 4}}}>Diseño gráfico</option>
                                <option value="5" {{{selected question.cat_id 5}}}>Cultura General</option>
                                <option value="6" {{{selected question.cat_id 6}}}>Office</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label> Nivel de complejidad</label>
                            <select class="form-control" name="lev_id" >
                                <option value="1" {{{selected question.lev_id 1}}}>Facil</option>
                                <option value="2" {{{selected question.lev_id 2}}}>Intermedio</option>
                                <option value="3" {{{selected question.lev_id 3}}}>Dificil</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tipo de pregunta</label>
                            <select class="form-control" name="ty_id" id="type_alternative" onchange="type_alternative_on();" onload="type_alternative_on()">
                                <option value="1" {{{selected question.ty_id 1}}} >Verdadero y Falso</option>
                                <option value="2" {{{selected question.ty_id 2}}} >2 Alternativas</option>
                                <option value="3" {{{selected question.ty_id 3}}} >3 Alternativas</option>
                                <option value="4" {{{selected question.ty_id 4}}} >4 Alternativas</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Haz una pregunta</label>
                            <textarea name="que_que" class="form-control" id="exampleFormControlTextarea1" rows="3">{{{question.que_que}}}</textarea>
                            <!--input type="text" name="que_que" placeholder="Pregunta" class="form-control"-->
                        </div>
                        <div class="form-group" id="que_1">
                            <label id="que_1_text"       for="exampleFormControlSelect1">Alternativa 1 </label>
                            <input id="que_1_text_input" value="{{{question.que_1}}}" type="text" name="que_1" placeholder="Escribe una alternativa" class="form-control">
                        </div>
                        <div class="form-group" id="que_2">
                            <label id="que_2_text"       for="exampleFormControlSelect1">Alternativa 2 </label>
                            <input id="que_2_text_input" value="{{{question.que_2}}}"type="text" name="que_2" placeholder="Escribe una alternativa" class="form-control">
                        </div>
                        <div class="form-group" id="que_3">
                            <label id="que_3_text"       for="exampleFormControlSelect1">Alternativa 3</label>
                            <input id="que_3_text_input" value="{{{question.que_3}}}"type="text" name="que_3" placeholder="Escribe una alternativa" class="form-control">
                        </div>
                        <div class="form-group" id ="que_4">
                            <label id="que_4_text"      for="exampleFormControlSelect1">Alternativa 4</label>
                            <input id="que_4_text_input" value="{{{question.que_4}}}"type="text" name="que_4" placeholder="Escribe una alternativa" class="form-control">
                        </div>
                        <div class="form-group" >
                            <label for="exampleFormControlSelect1">Retroalimentación</label>
                            <textarea name="feedback" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje que leerá el estudiante si responde mal">{{{question.feedback}}}</textarea>

                        </div>
                        <div class="form-group" id="alternatives">
                            <label for="exampleFormControlSelect1">Escoge la alternativa correcta</label>
                            <select class="form-control" name="que_true" id="alternatives" onclick=" get_alternative();">
                                <option id="alt_1" value="1" {{{selected question.que_true 1}}}>1</option>
                                <option id="alt_2" value="2" {{{selected question.que_true 2}}}>2</option>
                                <option id="alt_3" value="3" {{{selected question.que_true 3}}}>3</option>
                                <option id="alt_4" value="4" {{{selected question.que_true 4}}}>4</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar Pregunta</button>
                        <a href="/question/add" class="btn btn-light">Limpiar</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/create_question.js"></script>