<div class="container p-4">
    {{#if question}}
        {{#if all}}
            <h1 style="text-align: center">Todas las preguntas <span class="badge bg-secondary"></span></h1>
        {{else}}
            <h1>Mis preguntas<span class="badge bg-secondary"></span></h1>
        {{/if}}
        <br>
    {{else}}
        <h1>No se encontró ninguna pregunta<span class="badge bg-secondary"></span></h1>
    {{/if}}
    <div class="row">
        {{#each question}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <!--a href=""-->
                            <h3 class="card-title " style="color: forestgreen">{{que_que}}</h3> <!-- text-uppercase -->
                        <!--/a-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{category   cat_id}}</li>
                            <li class="list-group-item">{{level      lev_id }}</li>
                            <li class="list-group-item">{{type       ty_id}}</li>
                                <li class="list-group-item">

                                </li>
                        </ul>
                        <!--p class="m-2">{{!--timeago    que_created--}}</p-->
                        <a href="/question/edit/{{que_id}}" class="btn btn-warning">Editar</a>
                        <a href="/question/delete/{{que_id}}" class="btn btn-danger">Eliminar</a>

                    </div>
                </div>
            </div>
         {{/each}}
    </div>
</div>
