<div class="container p-10">
    <br><br><br> <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <h2 style="text-align: center">{{{question.que_que}}} </h2>

                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" {{checkQuestionTrue 1 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios1">
                            {{{question.que_1}}}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"{{checkQuestionTrue 2 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios2">
                            {{{question.que_2}}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"{{checkQuestionTrue 3 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios3">
                            {{{question.que_3}}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option4"{{checkQuestionTrue 4 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios4">
                            {{{question.que_4}}}
                        </label>
                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Respuesta correcta:</span>
                        <input type="text" value="{{ isQuestionTrue question.que_true question.que_1 question.que_2 question.que_3 question.que_4}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Categoría: </span>
                        <input type="text" value="{{{ category question.cat_id}}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nivel: </span>
                        <input type="text" value="{{{ level question.lev_id }}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Tipo: </span>
                        <input type="text" value="{{{type question.ty_id}}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div style="text-align: center">
                        <a href="/question/edit/{{que_id}}" class="btn btn-warning">Editar</a>
                        <a href="/question/delete/{{que_id}}" class="btn btn-danger">Eliminar</a>
                    </div>

                        <!--button type="submit" class="btn btn-success">Actualizar pregunta</button-->
                </div>

            </div>
        </div>
    </div>
</div>