<div class="container p-10">
    <br><br><br> <div class="row animate__animated animate__shakeX">
        <div class="col-md-7 mx-auto">
            <div class="card p-4">
                <div class="card-body">
                    <h2 style="text-align: center">{{{question.que_que}}} </h2>

                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" {{checkQuestionTrue 1 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios1">
                            {{{question.que_1}}}
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2"{{checkQuestionTrue 2 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios2">
                            {{{question.que_2}}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"{{checkQuestionTrue 3 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios3">
                            {{{question.que_3}}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option4"{{checkQuestionTrue 4 question.que_true}}>
                        <label class="form-check-label" for="exampleRadios4">
                            {{{question.que_4}}}
                        </label>
                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Respuesta correcta:</span>
                        <input type="text" value="{{ isQuestionTrue question.que_true question.que_1 question.que_2 question.que_3 question.que_4}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Categoría: </span>
                        <input type="text" value="{{{ category question.cat_id}}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nivel: </span>
                        <input type="text" value="{{{ level question.lev_id }}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Tipo: </span>
                        <input type="text" value="{{{type question.ty_id}}}" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                        <div class="btn-group" style="text-align: center">
                            <a href="/question/all" class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                </svg>
                                Regresar
                            </a>
                            <div class="mb-5">
                                <div class="col-md-7"></div>

                            </div>
                            <div class="mb-5">
                                <div class="col-md-7"></div>

                            </div>
                            {{#if (isMeExam question.user_id current_user_id)}}
                            <div class="text-center">
                                <a href="/question/edit/{{question.que_id}}" class="btn btn-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>Editar
                                </a>
                                <a href="/question/delete/{{question.que_id}}" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>Eliminar
                                </a>
                            </div>
                            {{/if}}
                        </div>

                        <!--button type="submit" class="btn btn-success">Actualizar pregunta</button-->
                </div>

            </div>
        </div>
    </div>
</div>
