<div class="container animate__animated  animate__fadeIn ">
    <h3 class="p-4 animate__animated animate__backInUp" style="text-align: center">Hola {{user.user_fullname}}, usted puede acceder a las siguientes Zonas: </h3>
    <p>Modo: {{typeUserText user.type_id}}</p>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="img/profile/users.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Zona usuarios</h2>
            <p>Puede ver la lista de estudiantes y docentes.</p>
            <p>
                En el apartado de estudiantes, usted puede ver la lista de examanes tomados, y sus notas.
            </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Ver lista
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="/view/student">Estudiantes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/view/teacher">Docentes</a></li>
                </ul>
            </div>
        </div><!-- /.col-lg-4 -->
        {{#if (isTeacher user.type_id)}}
            <div class="col-lg-4">
                <img class="rounded-circle" src="img/profile/exam.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Zona Examenes</h2>
                <p>{{user.user_fullname}} usted como docente puede crear, editar, y eliminar examenes. </p>
                <p>Puede establecer un tiempo limite, cantidad de preguntas y mucho más.</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Examen
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/exam/create">Crear un examen</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/exam/">Ver mis examenes</a></li>
                        <li><a class="dropdown-item" href="/exam/all">Ver todos los examenes</a></li>
                    </ul>
                </div>
            </div><!-- /.col-lg-4 -->
        {{/if}}

        <div class="col-lg-4">
            <img class="rounded-circle" src="img/profile/question.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Zona preguntas</h2>
            <p>En este apartado usted puede crear, editar y eliminar preguntas escogiendo
                entre las categorías, niveles y el tipo de pregunta.
            </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Pregunta
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="/question/add">Crear pregunta</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/question/">Ver mis preguntas</a></li>
                    <li><a class="dropdown-item" href="/question/all">Ver todas las preguntas</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 mx-auto">
            {{{isTeacherText user.type_id '
            <div class="p-4">
            </div>'
             ''}}}
            <img class="rounded-circle" src="{{ifMenPicture user.user_is_male 'img/profile/' 'gen-men.png' 'gen-girl.png' 'gen-other.png'}}" alt="Generic placeholder image" width="140" height="140">
            <h2>Zona mi perfil</h2>
            <p>Podrá ver su información , tambien editar y actualizar sus datos.
            </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Mi perfil
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="/profile/view">Ver datos</a></li>
                    <li><a class="dropdown-item" href="/profile/edit">Editar mi datos</a></li>

                </ul>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->




</div>
